<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>791343045459-n61kv81ps3msdqj6u9rr98tbsp3fjjp1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.791343045459-n61kv81ps3msdqj6u9rr98tbsp3fjjp1</string>
	<key>API_KEY</key>
	<string>AIzaSyDash3Wvx-8qo7f-NKEuQOI75ubiR6idmI</string>
	<key>GCM_SENDER_ID</key>
	<string>791343045459</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>abdullah.movie</string>
	<key>PROJECT_ID</key>
	<string>movie-project-ed1ab</string>
	<key>STORAGE_BUCKET</key>
	<string>movie-project-ed1ab.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:791343045459:ios:7cd9427938c1a007c2dfa6</string>
	<key>DATABASE_URL</key>
	<string>https://movie-project-ed1ab.firebaseio.com</string>
</dict>
</plist>